<section id="main" class="container">
	<header>
		<h2>New publication</h2>
	</header>
	<div class="box">
		<%= render 'form', group: @group, publication: @publication %>
	  <%= link_to 'Back', list_group_path(@group) %>    
	</div>
</section>