<section id="main" >
  <div class="inner">
    <header class="major special">
      <h1>New publication</h1>
      <p>Create a new one</p>
    </header>

	<%= render 'form', group: @group, publication: @publication %>
	<%= link_to 'Back', list_group_path(@group) %>    
  </div>
</section>