<section id="main" >
  <div class="inner">
    <header class="major special">
      <h1>Editing group</h1>
      <p>Edit a existing one</p>
    </header>

	<%= render 'form', group: @group %>
	<%= link_to 'Back', root_path %>
    
  </div>
</section>