<% provide(:body_class, "landing") %>
<% provide(:header_class, "alt") %>

<!-- Banner -->
<section id="banner">
	<h2><strong>VIP groups UN</strong></h2>
	<!--<p>Another fine responsive site template freebie by HTML5 UP.</p>
	<ul class="actions">
		<li><a href="#" class="button special">Sign Up</a></li>
		<li><a href="#" class="button">Learn More</a></li>
	</ul>-->
</section>

<!-- Main -->
<section id="main" class="container">
	<section class="box special">
		<header class="major">
			<h2>Research groups supervised by <br> Professor Winston Percybrooks</h2>
			<p>Site in construction</p>
		</header>
		<!--<span class="image featured"><img src="images/banner.jpg" alt="" /></span>-->
	</section>

	<!--<section class="box special features">
		<div class="features-row">
			<section>
				<span class="icon major fa-bolt accent2"></span>
				<h3>Magna etiam</h3>
				<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
			</section>
			<section>
				<span class="icon major fa-area-chart accent3"></span>
				<h3>Ipsum dolor</h3>
				<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
			</section>
		</div>
		<div class="features-row">
			<section>
				<span class="icon major fa-cloud accent4"></span>
				<h3>Sed feugiat</h3>
				<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
			</section>
			<section>
				<span class="icon major fa-lock accent5"></span>
				<h3>Enim phasellus</h3>
				<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
			</section>
		</div>
	</section>-->
	
	<% if admin_signed_in? %>
		<div class="row">
			<% @groups.each do |group| %>
				<div class="4u 12u(narrower)">
					<section class="box special">
						<span class="image featured"><%= image_tag group.avatar.url(:medium) %></span>
						<h3><%= group.name %></h3>
						<ul class="actions">
							<li><%= link_to "Learn more", group_path(group), :class => "button alt" %></li>
						</ul>
					</section>
				</div>
			<% end %>
		</div>
	<% end %>

</section>

<!-- CTA -->
<!--<section id="cta">

	<h2>Sign up for beta access</h2>
	<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>

	<form>
		<div class="row uniform 50%">
			<div class="8u 12u(mobilep)">
				<input type="email" name="email" id="email" placeholder="Email Address" />
			</div>
			<div class="4u 12u(mobilep)">
				<input type="submit" value="Sign Up" class="fit" />
			</div>
		</div>
	</form>

</section>-->