<section id="main" >
  <div class="inner">
    <header class="major special">
      <h1>Editing Page</h1>
      <p>Insert the changes</p>
    </header>

	<%= render 'form', group: nil, page: @page %>
	<%= link_to 'Back', group_path(@group) %>	    
  </div>
</section>

<%= tinymce_assets %>
<%= tinymce :uploadimage_hint => @group.id %>