<section id="main" class="container">
	<header>
		<h2>Editing page</h2>
	</header>
	<div class="box">
		<%= render 'form', group: nil, page: @page %>
	  <%= link_to 'Back', group_path(@group) %>	    
	</div>
</section>

<%= tinymce_assets %>
<%= tinymce :uploadimage_hint => @group.id %>