<section id="main" class="container">
	<header>
		<h2><%= @page.title %></h2>
	</header>
	<div class="box">
		<%= @page.content.html_safe %>
	    <%= link_to 'Back', group_path(@group), :class => 'button' %>
	</div>
</section>