<p id="notice"><%= notice %></p>

<section id="main" >
  <div class="inner">
	<%= @page.content.html_safe %>
    <%= link_to 'Edit', edit_group_page_path(@group, @page) %> |
	<%= link_to 'Back', group_path(@group) %>
  </div>
</section>


